@model IEnumerable<ProyectoHsj_Beta.ViewsModels.ReservasAdminGetAllViewModel>

@{
    Layout = "~/Views/Shared/Layout_admin.cshtml";
    ViewData["Title"] = "Todas las Reservas";

    // Fecha de hoy y mañana para el agrupamiento, usando DateOnly
    var today = DateOnly.FromDateTime(DateTime.Today.AddHours(3)); // Obtiene la fecha de hoy como DateOnly
    var tomorrow = today.AddDays(1); // Mañana
    var futureDate = tomorrow.AddDays(1); // Día después de mañana
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    /* Tu estilo personalizado ya existente... */

    .event-group {
        margin-bottom: 30px;
    }

    .event-group h3 {
        color: #fff;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }

    .card {
        background-color: #444444;
        border: none;
        border-radius: 10px;
        margin-bottom: 10px; /* Separación de eventos */
        color: #ffffff;
        max-width: 100%;
    }

    body {
        background-color: gray;
    }

    .list-group-item {
        padding: 12px 13px; /* Aumenta el espaciado interno para hacer los botones más grandes */
        border: none; /* Elimina el borde de los elementos de lista */
        background-color: #343a40; /* Color de fondo gris para los botones */
        transition: background 0.2s; /* Transición suave para el color de fondo al pasar el mouse */
        font-size: 1.2rem; /* Aumenta el tamaño de la fuente para mayor legibilidad */
        border-radius: 8px; /* Bordes redondeados para un aspecto más moderno */
    }

    .card-body {
        padding: 7px 1.15rem 8px 1.15rem;
    }

    p {
        margin-bottom: 0.75rem;
    }

    .whatsapp-button {
        background-color: #1a9c4b; /* Color verde característico de WhatsApp */
        color: white;
        padding: 8px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .whatsapp-button:hover {
            background-color: #0fd458;
        }
    /* Aseguramos que la vista en pantallas grandes se vea bien */
    @@media (min-width: 768px) {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 10px;
        }
    }

    @@media (max-width: 768px) {
        .d-flex {
            flex-direction: column;
        }
            /* Asegurar que el título esté sobre el botón */
            .d-flex h3 {
                order: -2;
            }

        .mb-sm-0 {
            margin-bottom: 0 !important;
            margin-bottom: 10px !important;
            width: 100%;
        }

        .whatsapp-button {
            margin-bottom: 0 !important;
            margin-top: 4px;
            width: 100%;
            padding: 4px 20px;
        }
    }

</style>

<div class="container mt-4">  
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <a asp-controller="Reservas" asp-action="AllReservationsCalendar" class="btn btn-dark mb-2 mb-sm-0">Volver al Calendario</a>
        <a asp-controller="Reservas" asp-action="HistorialReservas" class="btn btn-danger mb-2 mb-sm-0">Ver HISTORIAL COMPLETO</a>
        <h3 style="color:white; text-align: right">TODAS las reservas</h3>
    </div>
    <div class="grid-container">

        <!-- Categoría: Hoy -->
        <div class="event-group" id="today-events">
            <h3>Reservas de Hoy</h3>
            @foreach (var item in Model.Where(e => e.FechaHorario == today))
            {
                <div class="card">
                    <div class="card-header">
                        @item.Titulo
                    </div>
                    <div class="card-body">
                        <p><strong>Creación:</strong> @item.FechaCreacion.ToString("HH:mm - dd/MM/yyyy")</p>
                        <p><strong>Descripción:</strong> @item.Descripcion</p>
                        <p><strong>Celular:</strong> @item.Celular</p>
                        <p><strong>Fecha:</strong> @item.FechaHorario.ToString("dd-MM-yyyy")</p>
                        <p style="margin-bottom: 0px !important"><strong>Horario:</strong> @item.HoraInicio.ToString("HH:mm") - @item.HoraFin.ToString("HH:mm")</p>
                        <div class="d-flex justify-content-end">
                            <a href="@("https://wa.me/54" + item.Celular)" target="_blank">
                                <button class="whatsapp-button">WhatsApp</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Categoría: Mañana -->
        <div class="event-group" id="tomorrow-events">
            <h3>Reservas de Mañana</h3>
            @foreach (var item in Model.Where(e => e.FechaHorario == tomorrow))
            {
                <div class="card">
                    <div class="card-header">
                        @item.Titulo
                    </div>
                    <div class="card-body">
                        <p><strong>Creación:</strong> @item.FechaCreacion.ToString("HH:mm - dd/MM/yyyy")</p>
                        <p><strong>Descripción:</strong> @item.Descripcion</p>
                        <p><strong>Celular:</strong> @item.Celular</p>
                        <p><strong>Fecha:</strong> @item.FechaHorario.ToString("dd-MM-yyyy")</p>
                        <p style="margin-bottom: 0px !important"><strong>Horario:</strong> @item.HoraInicio.ToString("HH:mm") - @item.HoraFin.ToString("HH:mm")</p>
                        <div class="d-flex justify-content-end">
                            <a href="@("https://wa.me/54" + item.Celular)" target="_blank">
                                <button class="whatsapp-button">WhatsApp</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Categoría: Futuros -->
        <div class="event-group" id="future-events">
            <h3>Reservas próximas</h3>
            @foreach (var item in Model.Where(e => e.FechaHorario > tomorrow))
            {
                <div class="card">
                    <div class="card-header">
                        @item.Titulo
                    </div>
                    <div class="card-body">
                        <p><strong>Creación:</strong> @item.FechaCreacion.ToString("HH:mm - dd/MM/yyyy")</p>
                        <p><strong>Descripción:</strong> @item.Descripcion</p>
                        <p><strong>Celular:</strong> @item.Celular</p>
                        <p><strong>Fecha:</strong> @item.FechaHorario.ToString("dd-MM-yyyy")</p>
                        <p style="margin-bottom: 0px !important"><strong>Horario:</strong> @item.HoraInicio.ToString("HH:mm") - @item.HoraFin.ToString("HH:mm")</p>
                        <div class="d-flex justify-content-end">
                            <a href="@("https://wa.me/54" + item.Celular)" target="_blank">
                                <button class="whatsapp-button">WhatsApp</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

